<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mjict.signboardsurvey">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DummyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.SummaryActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.KeywordSearchActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".activity.SearchResultActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.BuildingSearchActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.ShopListActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.BuildingProfileActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.TempSignListRecentStyleActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="false">
        </activity>

        <activity
            android:name=".activity.TempSignListCoverFlowActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.SignListActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true">
        </activity>

        <activity
            android:name=".activity.TempSignListPagerActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.SignInformationActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.TempSignInformationActivity2"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.BasicSignInformationInputActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.ExtraSignInformationInputActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.LocalStatisticsActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.CameraActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.PictureActivity"
            android:theme="@style/AppTheme.Base">
        </activity>

        <activity android:name=".activity.SignMeasureActivity"
            android:theme="@style/AppTheme.Base">
        </activity>

        <activity
            android:name=".activity.AddressSearchActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.MapSearchActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.DemolishedSignActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.ReviewSignActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.UserDataSearchActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.ShopInputActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.TextListActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.BuildingListActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.ModeSelector"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.BuildingTotalInformationActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.SignPageActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:name=".receiver.WiFiMonitor"
            android:enabled="true"
            android:exported="false"
            android:label="OnLock_BroadcastReceiver"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>




    </application>
</manifest>